<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 6 | courses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="courseStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="overflow-x-hidden">
    <h1 class="text-center sm:text-[2rem] font-bold">Courses</h1>
    <h1 class="text-center sm:text-[2rem]">Your Gateway to Limitless Learning</h1>
    
    <div class="courses w-full mx-5 my-10 flex max-sm:flex-col">
        <aside class="sm:w-[30%] flex sm:flex-col gap-3">
            <button class="active">Software Development</button>
            <button>Designing Course Mobile</button>
            <button>Development</button>
            <button>Data Science AI/ML</button>
            <button>Digital Marketing</button>
        </aside>
        <div class="course shown w-full sm:w-[70%] h-[80vh] border-2 border-black rounded-md mr-8 grid gap-3 sm:grid-cols-3 grid-cols-2 grid-rows-4 p-5">
            <div class="flex gap-3 items-center">
                <img src="./assets/python.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Python Certification</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/java.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Java Course</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/react.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">React Mastery</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/angular.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Angular Training</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/salesforce.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">SalesForce Training</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/net.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">ASP.NET Training</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/frontend.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Frontend Training</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/webdev.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Web Development</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/c.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">C,C++ Training</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/flutter.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Flutter Mastery</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/nodejs.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Nodejs Training</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/fullstack.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Full stack Development</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/wordpress.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">WordPress Training</h1>
            </div>
        </div>
        <div class="course w-full sm:w-[70%] h-[70vh] border-2 border-black rounded-md mr-8 grid gap-3 sm:grid-cols-3 grid-cols-2 grid-rows-4 p-5">
            <div class="flex gap-3 items-center">
                <img src="./assets/webdev.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Web Designing</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/graphic.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Graphic Design</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/3dgame.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">3D game Development</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/webdev.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">UI UX design</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/3d-anime.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">3D Animation</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/css.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">CSS Training</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/html.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">HTML Training</h1>
            </div> 
        </div>
        <div class="course w-full sm:w-[70%] h-[70vh] border-2 border-black rounded-md mr-8 grid gap-3 sm:grid-cols-3 grid-cols-2 grid-rows-4 p-5">
            <div class="flex gap-3 items-center">
                <img src="./assets/ios.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">iOS Certification</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/android.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Android Training</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/androidDev.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Andriod Development</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/react.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">React Native</h1>
            </div> 
        </div>
        <div class="course w-full sm:w-[70%] h-[70vh] border-2 border-black rounded-md mr-8 grid gap-3 sm:grid-cols-3 grid-cols-2 grid-rows-4 p-5">
            <div class="flex gap-3 items-center">
                <img src="./assets/mL.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Machine Learning</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/dataAnalytics.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Data Analysis</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/graphic.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Tableau</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/al.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Data Science</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/webdev.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Internet Training</h1>
            </div>
            <div class="flex gap-3 items-center">
                <img src="./assets/powerBI.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Power BI</h1>
            </div>
             
        </div>
        <div class="course w-full sm:w-[70%] h-[70vh] border-2 border-black rounded-md mr-8 grid gap-3 sm:grid-cols-3 grid-cols-2 grid-rows-4 p-5">
            <div class="flex gap-3 items-center">
                <img src="./assets/graphic.png" class="w-[40px] h-[40px]" alt="">
                <h1 class="font-bold">Digital Marketing Course</h1>
            </div> 
        </div>
    </div>
    <script>
        const btns = document.querySelectorAll('button')
        const courses = document.querySelectorAll('div.course')
        const len = btns.length
        for(let i=0;i<len;i++) {
            console.log(i)
            btns[i].addEventListener('click',()=>{
                btns.forEach(btn =>{ 
                    btn.classList.remove("active") 
                })
                courses.forEach(course=>{
                    course.classList.remove("shown")
                })
                btns[i].classList.add("active") 
                courses[i].classList.add("shown")
            })
        }
    </script>
    <script src="index.js"></script>
</body>
</html>